/*
Theme Name: Activism
Theme URI: http://themeforest.net/user/rayoflightt
Author: Rayoflightthemes.com
Description: Premium Wordpress Theme for political activism events and blogs
Version:1.0
Tags: red
License:http://themeforest.net
License URI: http://themeforest.net
*/

@import url("assets/css/bootstrap.css");
@import url("assets/css/font-awesome.css");
@import url("assets/css/colorbox.css");
@import url("assets/css/owl.theme.css");
@import url("assets/css/owl.carousel.css");
@import url("assets/css/animate.css");

/* -----------------------------------------------------------
CONTENTS:
html5 and responsive content
reset
WordPress Core
menu + general classes
elements
undersliderwrapper
team
event single
events
about us
services
gallery
faq
twitter
homepage blog
contact
single pages
sidebar and widgets
blog pages and widgets
media queries for featured image
pagebuilder
contact form plugin
bx testimonials
paypal plugin
events calendar plugin

------------------------------------------------------------*/


/********* html5 and responsive content *********/
header, 
nav, 
article, 
section, 
aside, 
footer {
  display: block;
} 
img {
  -ms-interpolation-mode: bicubic; 
  max-width: 100%; 
  width: auto;
}
/*** for post and page images important ***/
.comment-content img[height],

.entry-content img,

.entry-summary img,

img[class*="align"],

img[class*="wp-image-"],

img[class*="attachment-"],

#site-header img {
	
height: auto;

}




embed, 
object, 
video {
  max-width: 100%; 
}
/********* html5 and responsive content *********/


/********* reset *********/
a:link, 
a:visited { 
  outline: none;
  text-decoration: none;
  color: #e7453a;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
a:hover { 
  outline: none;
  text-decoration: none;
  color: #1d0907;
}
ul, 
ol { 
  margin: 0 0 22px 0;  

  line-height: 1.6; 
}
ul li, 
ol li { 
  margin: 0 0 11px 0; 
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-top: 0;
  margin-bottom: 22px;
  color: #1d0907;
  font-family: "Open Sans", arial, san-serif;
  font-weight: 700;
  text-transform: uppercase;
}
h1, 
h2 {

  line-height: 1.2;
}
h3, 
h4, 
h5, 
h6 {
  line-height: 1.4;
}
h6 {
  font-size: 14px;
}
h5 {
  font-size: 18px;
}
h4 {
  font-size: 27px;
}
h3 {
  font-size: 36px;
}
h2 {
  font-size: 44px;
}
h1 {
  font-size: 66px;
  font-weight: bold;
}
p {
  margin: 0 0 22px 0;
  color: #1d0907;
  font-size: 14px;
  font-family: "Open Sans", arial, san-serif;
  font-weight: 400;
  line-height: 1.6;
}
p.paragraphbig {
  margin: 0 0 22px 0;
  color: #1d0907;
  font-size: 18px;
  font-family: "Open Sans", arial, san-serif;
  font-weight: normal;
  line-height: 1.6;
}
blockquote {
  margin: 0 0 22px 0;
  padding: 22px;
}
blockquote p {
  margin: 0;
}
code {
  background: transparent;
}
.centered {
  float: none;
  margin: 0 auto;		
}
.texthighlight {
  font-size: 21px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.textleft {
  text-align: left;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.marginbottom4 {
  margin-bottom: 88px;
}
.marginbottom3 {
  margin-bottom: 66px;
}
.marginbottom2 {
  margin-bottom: 44px;
}
.marginbottom1 {
  margin-bottom: 22px;
}
.margintop1 {
  margin-top: 22px;
}
.margintop2 {
  margin-top: 44px;
}
.margintop3 {
  margin-top: 66px;
}
.margintop4 {
  margin-top: 88px;
}
.no-border {
  border: 0;
}
/***bootstrap fix important***/
.row {
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 767px) {
.pull-right{
  float: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
}
@media (max-width: 767px) {
.sticker {
  position: relative!important;
}
}
/********* reset end *********/


/********* WordPress Core *********/
.gallery-caption,
.bypostauthor {
}

.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.sticky h2 a:link, 
.sticky h2 a:visited {
  padding-left: 30px;
  color: #1d0907;
  background: url(assets/images/sticky.png) left center no-repeat;
}
/********** WordPress Core End **********/


/********* menu + general classes *********/

html,
body {
  height: 100%;
}
body { 
  overflow-x: hidden;
  height: 100%;
  line-height: 1.6;
  background: #fff;
  background-attachment: fixed;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  color: #1d0907;
}
::selection {
  color: #fff;
  background: #1d0907; 
}
::-moz-selection {
  color: #fff;
  background: #1d0907; 
}
.wrapper100percent {
  float: left;
  width: 100%;
  padding: 0;
}
/*** for page section custom post type ***/
.sectionwrapper {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 1px;
  padding-bottom: 88px;
  width: 100%;
}
.section1 {
  padding: 0 0 66px 0;
  background: #fff;
}
.section1color {
  background: #e7453a;
}
/**  IMPORTANT for section when background color is choosen **/
.section1color h1,
 .section1color h2,
 .section1color h3, 
 .section1color h4, 
 .section1color h5, 
 .section1color h6,
 .section1color p, 
 .section1color ul li,
 .section1color a ,
 .section1color i {
  color: #fff;
}
.section1color .iconwrapper{
  border: 1px solid #fff;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.section1color  .servicecolumnone:hover .iconwrapper { 
  border: 1px solid #fff;
}
.section1color  .eventsdate { 
  background: #fff;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.section1color .eventsdate p {
  color: #e7453a;
}
.section1color .oneevent:hover .eventsdate { 
  background: #e7453a;
  border: 1px solid #fff;
}
.section1color .oneevent:hover .eventsdate p { 
  color: #fff;
}
.section1color  .oneevent ul { 
  border-bottom: 1px solid #fff;
}
.section1color  .oneevent ul li { 
  border-right: 1px solid #fff;
}
.section1color  .eventslink:link, 
.section1color .eventslink:visited { 
  color: #fff;
}
.section1color .eventslink i { 
  color:#fff;
}
.section1color  .eventslink:hover { 
  color: #1d0907;
}
.section1color  .faqicon { 
  border: 1px solid #fff;
}
.section1color  .onelist .faqicon p{ 
  color: #fff;
}
.section1color .address i {
  color: #fff;
  border: 1px solid #fff;
}
.section1color  .homeblogmeta ul li {
  border: 1px solid #fff;
}

.section1color .bx-wrapper .bx-pager.bx-default-pager a {
border: 1px solid  #fff;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.section1color .bx-wrapper .bx-pager.bx-default-pager a:hover,
.section1color .bx-wrapper .bx-pager.bx-default-pager a.active {
background: #fff;
}
.section1color .bxtestimonials li p {
  color: #fff;
}
.section1color .bxtestimonials p span {
  color: #fff;
}
.section1color .teamcolumninner i,
.section1color .teamcolumninner i:hover{
  color: #fff;
}
@media (max-width: 400px) {
.section1color .oneevent ul li { 
  margin-right: 12px;
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

}
/** for section when background color is choosen end **/


/*** page section custom post type end***/

/* parallax section */
.section3 {
  float: left;
  width: 100%;
  min-height: 300px;
  background: #1d0907;
  text-align: center;
}
.section3inner {
  float: left;
  width: 100%;
  padding: 88px 0;
  background: rgba(51, 51, 51, 0.7);
}
/* parallax section end */

@media (max-width: 1250px) {
h1 {
  font-size: 44px;
  font-weight: bold;
}
}
.mainheadlinewrapper {
  margin-bottom: 9px;
  float: left;
  width: 100%;
}
.mainheadline h2 {
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 44px;
}

.section3inner .mainheadline h2 {
  color: #fff;
}
@media (max-width: 767px) {
.mainheadline h2 { 
  font-size: 27px;
}
.mainheadline.text-left {
  text-align: center;
}
}
@media (max-width: 400px) {
.mainheadline.textleft{ 
  text-align: center;
}
}
.mainheadlinewrapperpage {
  margin-bottom: 1px;
  float: left;
  width: 100%;
  padding: 44px 0;
  background: #e7453a;
}
.mainheadlinepage h1 {
  margin: 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 1;
  color: #fff;
}
/****** menu ******/
.headermore {
  width: 100%;
  float: left;
  text-align: center;
  text-transform: uppercase; 
  padding: 5px 0;
  background: #f0f0f0;
}

.headermore  a{
  width: 100%;
  color: #1d0907;
}
.headermore  a:hover{
  width: 100%;
  color: #e7453a;
}
.headerwrapper {
  width: 100%;
  float: left;
  padding:13px 11px 11px 11px;
  background: #f0f0f0;
}
/**front page logo text**/
h1.site-title{
font-size:18px;
margin:0;
text-align:left;
padding:0;
border:none;
}
h2.site-description{
font-size:14px;
margin:0;
text-align:left;
text-transform:none;
}
/**front page logo text end**/

/**inner pages logo text**/
h2.site-title{
font-size:18px;
margin:0;
text-align:left;
padding:0;
border:none;
}
h3.site-description{
font-size:14px;
margin:0;
text-align:left;
text-transform:none;
}
/**inner pages logo text end**/

.menuleft {
float:left;
width:20%;
}

.menuright {
float:left;
width:80%;
}

.navbar-toggle {
  position: relative;
  float: right;
  width: 42px;
  height: 34px;
  margin-top: 22px;
  margin-bottom: 8px;
  background-color:#e7453a;
  border: none;
  border-radius: 0;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #1d0907;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar {  
  position: relatie;
  z-index: 900;
  min-height: 70px;
  height: 70px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0;
}
#nav ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav:before,
.nav:after {
  display: table;
  content: " ";
}
.nav:after {
  clear: both;
}
.nav:before,
.nav:after {
  display: table;
  content: " ";
}
.nav:after {
  clear: both;
}
.nav > li {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}
.nav > li > a:link, 
.nav > li > a:visited {
  position: relative;
  display: inlne-block;
  margin-top: -1px;
  padding: 25px 17px;
  background: transparent;
  color: #1d0907;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #e7453a;
}
.navbar-nav > .active > a:link,
.navbar-nav > .active > a:visited,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  display: inlne-block; 
  color: #e7453a;
   -webkit-border-radius: 0;
      -moz-border-radius: 0;
           border-radius: 0;
}
nav a {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  outline: none;	
}
nav a:hover,
nav a:focus {
  outline: none;
}
/*** for dropdown hide ***/
.navbar-nav li ul {
  position: absolute;
  z-index: 100;
  left: -9999px;
}
.navbar-nav li:hover ul {
  left: 0;
}
.navbar-nav li:hover ul li ul {
  left: -9999px;
}
.navbar-nav li ul li ul {
  postion: absolute;
  left: -9999px;
}
.navbar-nav li ul li:hover ul  {
  left: 0;
}
/*** for dropdown hide end ***/
/***second level***/
.navbar-nav li ul  {
padding: 0;
margin: 0;
width: 100%;
list-style: none;
}
.navbar-nav li ul li {
  padding: 0;
  margin: 0;
  width: 100%;
}
.navbar-nav li ul li a:link, 
.navbar-nav li ul li a:visited {
  position: relative;
  display: block;
  padding: 7px 15px;
  width: 150px;
  margin: 0;
  background: #fff;
  color: #1d0907;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.navbar-nav li ul li a:hover {
  color:#e7453a;
}
.navbar-nav li:hover ul { 
  left:0;
}
/*** second level end ***/

/***third level***/
.navbar-nav li ul li ul {
margin-left:-150px;
margin-top:-34px;
}
/*** third level end ***/

@media (max-width: 1200px) {
.nav > li > a:link, 
.nav > li > a:visited {
  padding: 25px 15px;
}
}
@media (max-width: 1000px) {
.nav > li > a:link, 
.nav > li > a:visited {
padding: 25px 4px;
font-size:13px;
}
}
@media (max-width: 767px) {
.navbar-nav li a {
  margin-bottom: 5px;
}
.navbar-nav li a {                                           
  margin-left: 0;
}
.navbar-nav li a{
  margin-right: 0;
  color: #fff;
}
.navbar {
  height: auto;
  background: #fff;
}
.nav  {
  margin-top: 20px;
}
.nav li {
  width: 100%;
  text-align: center;
}
.navbar-nav li a:link, 
.navbar-nav li a:visited {
  width: 100%;
  text-align: center;
  display: block;
}
.navbar-nav li ul li a:link, 
.navbar-nav li ul li a:visited {
  width: 100%;
  text-align: center;
  display: block;
}
.navbar-nav li ul li ul li a:link, 
.navbar-nav li ul li ul li a:visited {
  width: 100%;
  text-align: center;
  display: block;
}
.navbar-nav li ul li ul {
margin-left:0;
margin-top:0;
}
.navbar-nav li ul {
  position: relative;
  z-index: 100;
  left: 0;
}

.navbar-nav li:hover ul {
  left: 0;
}
.navbar-nav li:hover ul li ul {
  left: 0;
}
.navbar-nav li ul li ul  {
  postion: relative;
  left: 0;
}
.navbar-nav li ul li:hover ul  {
  left: 0;
}
}
/*** menu end ***/
/********* menu + general classes end **********/  


/********* elements *********/
/*** buttons ***/

/* General button style (reset) */


/* Pseudo elements for icons */
.btn:before,
.icon-road:after,
.icon-heart:after,
.icon-star:after,
.icon-c:after,
.icon-file:before {
  position: relative;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/*** change font awesome icon code here ***/
.icon-cart:before {
  content: "\f06c";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-chevron-right:before {
  content: "\f054";
}

/*** blog button ***/
.btn-blog a:link,
.btn-blog a:visited{
  position: relative;
  padding: 8px 13px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  background: #e7453a;
  border: 1px solid #e7453a;
  color:#fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	      transition: all 0.3s;
}
.btn-blog a:hover{
  background: transparent;
  color:#e7453a;
}
/*** blog button end ***/

/*** button color ***/

.section1color .btn-color a:link,
.section1color .btn-color a:visited{
  display: inline-block;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: bold;
  background: #fff;
  border: 1px solid #fff;
  color:#e7453a;
  font-size:18px;
}

.section1color .btn-color a:hover {
  background: transparent;
  color:#fff;
}

.btn-color a:link,
.btn-color a:visited{
  display: inline-block;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: bold;
  background: #e7453a;
  border: 1px solid #e7453a;
  color:#fff;
  font-size:18px;
}

.btn-color a:hover {
  background: transparent;
  color:#e7453a;
}

/*** button color end ***/

/*** button dark ***/

.btn-dark a:link,
.btn-dark a:visited{
  display: inline-block;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: bold;
  background: #1d0907;
  border: 1px solid #1d0907;
  color:#fff;
  font-size:18px;
}

.btn-dark a:hover {
  background: transparent;
  color:#1d0907;
}

/*** button dark end ***/


/*** button donation***/
.section1color .btn-donation a:link,
.section1color .btn-donation a:visited{
  display: inline-block;
  padding: 0 20px 20px 20px;
  height:auto;
  line-height:1;
  background: #fff;
  color: #e7453a;
  width: 100%;
  border: 1px solid #fff;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
	  transition: all 0.3s;
}
.section1color .btn-donation i{
  color: #e7453a;
  font-size: 30px;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
	  transition: all 0.3s;
}
.section1color .btn-donation a:hover,
.section1color .btn-donation:hover i{
  color: #fff;
  background: transparent;
}


.btn-donation a:link,
.btn-donation a:visited{
  display: inline-block;
  padding: 0 20px 20px 20px;
  height:auto;
  line-height:1;
  background: #e7453a;
  color: #fff;
  width: 100%;
  border: 1px solid #e7453a;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
	  transition: all 0.3s;
}
.btn-donation i{
  color: #fff;
  font-size: 30px;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
	  transition: all 0.3s;
}
.btn-donation a:hover,
.btn-donation:hover i{
  color: #e7453a;
  background: transparent;
}


/*** button donation end ***/


/*** buttons end ***/
/********* elements end *********/

/********* undersliderwrapper *********/
.undersliderwrapper { 
  position: relative;
  z-index: 100;
  float: left;
  width: 100%;
  text-align: center;
}
.undersliderwrapper h3 { 
  margin-bottom: 22px;
  line-height: 1.6;
  font-size: 44px;
  font-weight: bold;
}
.undersliderwrapper  h4 { 
  font-size: 22px;
  text-transform: none;
  font-weight: normal;
}
@media (max-width: 767px) {
.undersliderwrapper h3 { 
  font-size: 27px;
}
}
/********* undersliderwrapper end *********/

/************ team ************/

.teamcolumn {
  margin: 0 auto 22px auto;
  text-align: center;
}
.teamcolumninner {
  float:left;
  width: 100%;
  border: #e7453a 1px solid;  
}
@media (max-width: 767px) {
.teamcolumninner {
  margin-bottom: 44px;
}
.teamcolumninner {
  border: none;  
}
}
.teamcolumninner h3 {
  display: block;
  margin: 12px 0;
  text-transform: none;
  font-size: 27px;
}
.teamcolumninner p {
  line-height: 0;
  margin-bottom: 27px;
}
.teamcolumninner i {
  margin: 0 3px 22px 3px;
  font-size: 18px;
  color: #1d0907;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.teamcolumninner i:hover {
  color: #e7453a;
}
/*** social icons ***/
.socialiconsteam {
text-align:center;
margin:0 auto;
}
.socialiconsteam  ul {
list-style:none;
padding: 0;
}
.socialiconsteam  ul li{
display:inline;
}
.socialiconsteam  i {
font-size:22px;
}
/*** socialteam  icons end ***/

/************ team end ************/


/********* event single *********/
.eventsinglewrapper {
  background: #e7453a;
  padding: 44px 0 22px 0;
}
.eventsinglewrapper ul,
.eventsinglewrapper i,
.eventsinglewrapper p,
.eventsinglewrapper h1,
.eventsinglewrapper h2,
.eventsinglewrapper h3,
.eventsinglewrapper h4,
.eventsinglewrapper h5,
.eventsinglewrapper h6 {
  color: #fff;
}
/********* event single end *********/


/************events************/

.oneevent { 
  position: relative;
  z-index: 100;
  float: left;
  margin-bottom: 0;
  padding: 0 0 30px 140px;
}
.oneevent img{ 
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
  height: auto;
}
.oneevent ul { 
  width: 95%;
  float: left;
  margin: 0 0 12px 0;
  padding: 5px 0 0 0;
  list-style: none;
  border-bottom: 1px solid #1d0907;
}
.oneevent ul li { 
  float: left;
  padding-right: 12px;
  margin-right: 12px;
  font-size: 14px;
  border-right: 1px solid #1d0907;
}
.oneevent h4 { 
  margin: 0;
  font-size: 27px;
  font-weight: 700;
}
.oneevent p { 
  margin-bottom: 0;
  width: 100%;
  float: left;
}
.eventsdate { 
  left: 0;
  position: absolute;
  top: 0;
  height: 120px;
  width: 120px;
  padding-top: 23px;
  text-align: center;
  background: #e7453a;
  -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
           border-radius: 500px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.eventsdate p {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.4;
  color: #fff;
}
.eventsdate p span { 
  font-weight: bold;
  font-size: 22px;
}
.oneevent:hover .eventsdate { 
  background: #fff;
  border: 1px solid #e7453a;
}
.oneevent:hover .eventsdate p { 
  color: #e7453a;
}
.oneevent:hover a.eventslink i { 
  margin-left: 5px;
}
.eventstext { 
  margin-bottom: 35px;
}
.eventstext h4{ 
  margin-bottom: 3px;

}
a.eventslink:link, 
a.eventslink:visited { 
  float: left;
  margin-top: 7px;
  margin-bottom: 0;
  color: #e7453a;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
a.eventslink i { 
  color:#e7453a;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.eventstext a:hover { 
  color: #1d0907;
}
.eventstext a:hover i { 
  color: #1d0907;
}
@media (max-width: 767px) {
.eventswrapper { 
  margin-bottom: 22px;
}
.eventsdate { 
  margin-bottom: 22px;
}
}
@media (max-width: 400px) {
.oneevent { 
  padding: 0 0 40px 0;
  text-align: center;
}
.eventsdate { 
  position: relative;
  top:0;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
}
.oneevent ul li { 
 float: none;
}
.oneevent ul { 
  width: 100%;
}
a.eventslink:link, 
a.eventslink:visited{ 
  float: none;
  margin-top: 22px;
}
.oneevent ul li { 
  margin-right: 12px;
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
}
/************ events end ************/


/************ about us ************/
i.aboutusicon { 
  width: 160px;
  padding: 20px; 
  text-align: center;
  margin-top: 22px;
  font-size: 110px;
  color: #fff;
  background: #e7453a;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
i.aboutusicon:hover { 
  color: #1d0907;
}
.onelist { 
  float: left;
}
.onelinst h4 { 
  margin: 0;
}
.oneevent p { 
  margin-bottom: 0;
  width: 100%;
}
.aboutusleft { 
  float: left;
  margin-right: 15px;
  margin-top: 7px;
  text-align: center;
}
.aboutusleft i { 
  font-size: 25px;
}
/************ about us end ************/


/************ services ************/
.servicecolumnone { 
  text-align: center;
}
.servicecolumnone h4 { 
  font-size: 27px;
}
.iconwrapper{
  height: 105px;
  width: 105px;
  display: block;
  margin:0 auto 27px auto;
  padding-top:26px;
  text-align:center;
  background: #e7453a;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.servicecolumnone:hover .iconwrapper { 

}
.servicecolumnone img { 
  text-align: center;
}

/************ services end ************/


/********* gallery *********/

/*** aqua blocks fix for gallery ***/
/*** important - if you use another size for images replace span3 with span class and percent for that image size ***/
.aq-block-aq_galleryimage_block.aq_span3{
  margin: 1%;
  width:23%!important;
}
.aq-block-aq_galleryimage_block.aq_span2{
  margin: 1%;
  width:14.6%!important;
}
.aq-block-aq_galleryimage_block.aq_span4{
  margin: 1%;
  width:31%!important;
}

@media screen and (max-width: 767px) {
.aq-block-aq_galleryimage_block.aq_span3{
  margin: 0;
}
.aq-block-aq_galleryimage_block.aq_span2{
  margin: 0;
}
.aq-block-aq_galleryimage_block.aq_span4{
  margin: 0;
}
}

.grid1 {
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
text-align: center;
}
.grid1 figure {
  position: relative;
  z-index: 1;	
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  float: none;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
}
.grid1 figure img {
  position: relative;
  display: block;	
  float: none;
  margin: 0 auto;
}
.grid1 figure figcaption {
color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid1 figure figcaption::before,
.grid1 figure figcaption::after {
  pointer-events: none;
}
.grid1 figure figcaption,
.grid1 figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid1 figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  color: #fff;
}
.grid1 figure h2 {
  font-size: 27px;
}
.grid1 figure h2,
.grid1 figure p {
  color: #fff;
}
.grid1 figure p {
  padding: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(231, 69, 58, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(231, 69, 58, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}
figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
	              transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
	      transform: translate3d(0,-50%,0);
}
figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	              transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
	      transform: translate3d(0,10px,0);
}
figure.effect-sadie:hover h2 {
  color: #fff;
  opacity: 1;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	      transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
	      transform: translate3d(0,0,0);
}
@media screen and (max-width: 1200px) {
.grid1 figure figcaption {
  font-size: 90%;
}

}
		
/********* gallery end *********/


/********* faq **********/
.faqicon { 
  float: left;
  padding: 5px;
  width: 55px;
  height: 55px;
  margin-right: 15px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #1d0907;
}
.onelist .faqicon p{ 
  color: #1d0907;
}
.faqtext h4{ 
  margin-top: 30px;
  margin-bottom: 10px;
}
.faqtext p{ 
  float: left;
}
@media (max-width: 400px) {
.faqicon{ 
  float: none;
  margin: 22px auto;
}
.faqblock{ 
   text-align: center;
}

}

.faqicon p { 
  color: #fff;
  font-size: 27px;
}
/********* faq end ********/


/********* twitter ********/
.twittericon {
  height: 66px;
  width: 66px;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 22px;
  background: #e7453a;
}
.twitterwrapper .twittericon i {
  color: #fff;
  font-size: 35px;
}
.twitterwrapper {
  margin: 44px auto 0 auto;
  text-align: center;
}

.twitterwrapper .icon-twitter {
  color: #fff;
}
.twitter ul {
  padding-left: 0px;
}
.twitter ul li {
  margin: 5px;
  padding: 5px;
  list-style: none;
  overflow: hidden;
}
.twitter p {
  font-size: 21px;
  margin-bottom: 0;
}
.section3inner .twitter p {
  color: #fff;
}
.twitter .user, 
.tweet, .timePosted {
  float: left;
}
.twitter .user {
  display: none;
}
.twitter .tweet {
  width: 100%;
}
.twitter .timePosted {
  display: none;
}
.twitter .user {
  clear: left;
}
.twitter .user a {
  width: 100px;
}
.twitter .user span span {
  width: 100px;
  display: block;
  margin-top: 10px;
}
.twitter .user img, 
.user a > span {
  float: left;
}
.twitter.interact {
  display: none;
}
.twitter .interact a {
  display: none;
}
/********* twitter end *********/


/********* homepage blog *********/

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 22px;
  height: 22px;
  margin:0 5px 22px 5px;
  background: transparent;
  border: 1px solid #e7453a;
  text-indent: -9999px;
  display: block;	
  outline: 0;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
         transition: all 0.5s ease;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #e7453a;
}

.bloghomeinner {
  padding: 20px;
  border: #e7453a 1px solid;
}
.bloghomeinner h4{
  margin-bottom: 10px;
}
.homeblogmeta.meta {
  width: 100%;  
  float: left;
  margin-bottom: 0;
}
.homeblogmeta.meta ul li {
  width: 50%;
  border-right: #e7453a 1px solid;
}

@media (max-width: 992px) {
.item {
  max-width: 282px;
  margin:0 auto;
  float:none;
}
.homeblogmeta.meta ul li{
  width: 100%;
  float: left;
  display: block;
}

}
@media (max-width: 600px) {
.item {
  max-width: 210px;
}
}

/********* homepage blog end *********/


/********* contact *********/
.map {
  position: relative;
  margin-bottom: 44px;
  margin-top: 44px;
}
.map iframe {
  position: relative;
  z-index: 100;
  max-width: 100%;
  width: 100%;
  height: 400px;
  border: none;
}
@media (max-width: 767px) {
.map {
  text-align: center;
}
.map iframe {
  width: 90%;
  height: auto;
  margin: 0 auto;
  max-width: 90%;
  float: none;
}
}

.mapoverlay {
  position: relative;
  z-index: 999; 
  top: 400px;
  width: 100%;
  height: 400px;
  margin-top: -400px;
  background: transparent; 
}
.address {
  text-align: center;
}
@media (max-width: 767px) {
.address {
  margin-bottom: 44px;
}
}
.address h4 {
  margin-bottom: 22px;
  font-size: 27px;
}
.address i {
  width: 66px;
  height: 66px;
  padding-top: 15px;
  margin: 0 auto 27px auto;
  font-size: 35px;
  color: #e7453a;
  border: 1px solid #1d0907;
}
.address ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.address p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.bottom ul.socialicons{
  padding: 0!important;
}
ul.socialicons li {
  margin:0 5px 20px 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}
.socialicons i {
  font-size: 30px;
  color: #e7453a; 
  -webkit-transition: all .1s; 
     -moz-transition: all .1s; 
       -o-transition: all .1s; 
          transition: all .1s;
}
ul.socialicons li a:link, 
ul.socialicons li a:visited  {
  padding-top: 17px;
  width: 66px;
  height: 66px;
  display: block;
  background: #fff;
}
ul.socialicons li a:hover {
  background: #1d0907; 
}
ul.socialicons li a:hover i {
  color: #fff; 
}
/* for social icons in header */
.headerwrapper .socialicons i {
  color: #1d0907; 
  -webkit-transition: all .1s; 
     -moz-transition: all .1s; 
       -o-transition: all .1s; 
          transition: all .1s;
}
.headerwrapper ul.socialicons {
  margin: 0;
}
.headerwrapper ul.socialicons li {
  margin:0 2px 2px 0;
}
.headerwrapper .socialicons i {
  font-size: 14px;
}
.headerwrapper ul.socialicons li a:link, 
.headerwrapper ul.socialicons li a:visited  {
  padding-top: 4px;
  width: 29px;
  height: 29px;
}
/* for social icons in header end */
.copyrightwrapper {
  background: #1d0907;
}
.copyright {
  float: left;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
}
.copyright p {
  margin-bottom: 0;
  color: #fff; 
  font-size: 12px;
}
@media (max-width: 767px) {
.copyright p {
  margin-right: 20px;
  margin-left: 20px;
}
}
.copyright a:link, 
.copyright a:visited {
  color: #fff; 
  font-weight: bold;
  margin-bottom: 0;
  -webkit-transition: all .1s;
     -moz-transition: all .1s; 
       -o-transition: all .1s;
          transition: all .1s;
}
.copyright a:hover {
  color: #e7453a; 
}

/***footer stay at bottom fix***/
#wrapperpages {
  width: 100%;
  min-height: 100%;
  padding-bottom: 84px;
}

/***footer stay at bottom fix end***/
.bottom {
  width: 100%;
  float: left;
  min-height: 44px;
}
.bottominner {
  width: 100%;
  float: left;
  background: #e7453a; 
}
.bottominner1 {
  width: 100%;
  float: left;
}
/** footer stick to bottom fix end **/
.bottomlinks {
  padding: 0;
}
.bottomlinks li {
  float: left;
  margin-right: 10px;
  margin-top: 22px;
  text-transform: uppercase;
}
.bottomlinks a:link, 
.bottomlinks a:visited {
  color: #fff; 
  text-transform: none;
  font-size: 14px;
}
.bottomlinks a:hover {
  color: #1d0907;
}
.scrollbutton {
  text-align: center;
}
.scrollbutton i {
  font-size: 32px;
  color: #e7453a; 
}
.scrollbutton a {
  padding-top: 12px;
  width: 60px;
  height: 60px;
  background: #fff; 
  display: inline-block;
  float: right;
  -webkit-transition: all .1s; 
     -moz-transition: all .1s; 
       -o-transition: all .1s; 
          transition: all .1s;
}
.scrollbutton a:hover {
  color: #fff; 
  background: #1d0907; 
}
.scrollbutton:hover i {
  color: #fff; 
}
/********* contact end *********/

/******single pages******/
.contentwrapper {
  margin-top: 44px;
  margin-bottom: 44px;
}
/******single pages end******/


/*********sidebar and widgets**********/
.sidebar {
  height: 100%;
}
.sidebarl {
  float:left;
}
.contentr {
  float:right;
}
@media (max-width: 992px) {
.sidebar {
  float: left;
  width:100%;
  padding-top:44px;
}
.sidebarl {
  float: left;
  width:100%;
}
.contentr {
  float: left;
}
}
/*** searchform in header ***/
.headersearchform {
  width: 100%;
}
.headersearchform  input {
  position: relative;
  z-index: 999;
  width: 100%;
  padding: 4px 10px;
  float: left;
  border: none;
  background: #fff;
}
.headersearchform  input:hover,
.headersearchform  input:focus {
}
.headersearchform label {
 display: none;
}
@media (max-width: 767px) {
.headersearchform  input {
  margin-bottom: 11px;
}
}
/*** searchform in header end ***/
/*** widgets style1 for sidebar and footer ***/
.widgets-style1 .widget {
  margin-bottom: 22px;
  padding: 20px;
  background: #f0f0f0;
}
.widgets-style1  h3 {
  margin-bottom: 22px;
  font-size: 18px;
  text-align:center;
}
.widget select  {
  width:100%;
  max-width: 300px;
}
.widgets-style1 .tagcloud a{
  display: inline-block;
  margin: 2px;
  font-size: 14px!important;
  border: 1px solid #1d0907;
  padding: 5px;
}
.widgets-style1 .tagcloud a:hover{
  color: #fff!important;
  background: #e7453a;
  border: 1px solid #e7453a;
}
.widgets-style1 .widget ul,
.widgets-style1 .widget li {
  list-style:disc;
}

.widgets-style1 .widget ul {
  margin: 0;
  padding: 0 0 12px 12px;
}
.widgets-style1 .searchform {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
#searchsubmit{
  display: none;
  visibility: hidden;
}
.widgets-style1 .searchform label{
  margin-bottom: 11px;
}
.widgets-style1 .searchform input {
  width:100%;
  padding:10px;
  margin-bottom: 22px;
  font-size: 14px;
  background: #fff;
  border: none;
  -webkit-transition:all .1s; 
    -moz-transition: all .1s; 
      -o-transition: all .1s; 
         transition: all .1s;
}
/* Calendar Widget */
.widgets-style1 .widget #wp-calendar{
  width: 100%;
}
.widgets-style1 .widget_calendar table,
.widgets-style1 .widget_calendar td {
  border: 0;
  border-collapse: separate;
  border-spacing: 1px;
}
.widgets-style1 .widget_calendar caption {
  font-size: 14px;
  margin: 0 0 11px 0;	
  text-align: left;
}
.widgets-style1 .widget_calendar th,
.widgets-style1 .widget_calendar td {
  padding: 0;
  text-align: center;
}
.widgets-style1 .widget_calendar a {
  display: block;
  border: 1px solid #1d0907;
}
.widgets-style1 .widget_calendar a:hover {
  border: 1px solid #e7453a;
}
.widgets-style1 .widget_calendar a:active {
  border: 1px solid #e7453a;
}
.widgets-style1 .widget_calendar tbody td {
  border: 1px solid #1d0907;
  padding:3px;
}
/***widgets style1 for sidebar and footer end***/

/***widgets style1 for footer field for icons***/
.widgets-style1.widgets-style2 .widget {
  padding: 22px 0;
  background: transparent;
}
.widgets-style1.widgets-style2  h3 {
  text-align:left;
}
.widgets-style1.widgets-style2  .widget_calendar a {
}
.widgets-style1.widgets-style2  .widget_calendar a:hover {
  border: 1px solid #fff;
}
.widgets-style1.widgets-style2 a{
  font-weight: bold;
}
.widgets-style1.widgets-style2 a:hover{
  text-decoration: underline;
}
.widgets-style1.widgets-style2 .widget a:hover{
  color: #fff;
}
.widgets-style1.widgets-style2 .searchform input {
  border: none;
}
.widgets-style1 .widgets-style2.searchform input:hover{
  border: none;
}
.widgets-style1 .widgets-style2.searchform input:focus {
  border: none;
}
.widgets-style1.widgets-style2 .searchform {
  text-align: left;
}
.widgets-style1.widgets-style2  a ,
.widgets-style1.widgets-style2  p,
.widgets-style1.widgets-style2  h3,
.widgets-style1.widgets-style2  label,
.widgets-style1.widgets-style2  td,
.widgets-style1.widgets-style2  th,
.widgets-style1.widgets-style2  ul li,
.widgets-style1.widgets-style2  caption {
  color: #fff;
}
.widgets-style1.widgets-style2  tbody td,
.widgets-style1.widgets-style2 .tagcloud a,
.widgets-style1.widgets-style2 .widget_calendar a {
  border: 1px solid #fff!important;
}
/***widgets style1 for footer field for icons end***/

/*********sidebar and widgets end**********/


/*********blog pages*********/
label{
font-weight:normal;
}
/***for featured images***/
.postimage img {
  margin-bottom: 22px;
  margin-right: 22px;
}
.postimage1 img {
  margin-bottom: 22px;
  margin-right: 22px;
}
.postimage1.postimage1center img {
  margin-bottom: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
.postimage1center {
  text-align: center;
  margin:0;
}
}

/***meta***/
.meta  {  
  text-align: center;
}

.meta  ul{
  width: 100%;
  float: left;
  margin: 0 0 22px 0;
  padding: 0;
  list-style: none;
}
.meta ul li{
  display:inline-block;
  float:left;
  width: 25%;
  padding: 10px 0;
  margin-bottom: 0;
 
  border-bottom: 1px solid #1d0907;
  border-top: 1px solid #1d0907;
}
.meta  li.metatime{
  display: inline-block;
  float: left;
  color: #fff;
  font-weight: 700;
  background: #e7453a;
  border-left: 1px solid #e7453a;
  border-bottom: 1px solid #e7453a;
  border-top: 1px solid #e7453a;
  border-right: none;
}
@media (max-width: 767px) {
.meta ul li{
  width: 100%;
  border: 1px solid #1d0907;
}
}
/***meta end***/

/*tags*/
.tags {
  margin: 22px 0;
}
.tags a{
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #e7453a;
}
.tags a:hover{
  color: #fff;
  background: #e7453a;
}

/***blog comments***/
.comment-respond h3 {
margin-top: 0;
margin-bottom: 24px;
}
.comment cite {
display:block;
margin-top:11px;
}
.comments-area {
margin: 48px auto;
}
.comment-reply-title,
.comments-title {
text-transform: uppercase;
}
.comment-list .reply {
	margin-top: 0px;
}
.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
margin-bottom: 24px;
padding-top: 24px;
}
.comment-content ul,
.comment-content ol {
margin: 0 0 24px 22px;
}
.comment-content li > ul,
.comment-content li > ol {
margin-bottom: 0;
}
.comment-content > :last-child {
margin-bottom: 0;
}
.comment-list .children {
list-style: none;
margin-left: 15px;
}
.comment-respond {
margin-bottom: 24px;
padding: 0;
}
.comment .comment-respond {
margin-top: 24px;
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
color: #333333;
background:transparent;
width:auto;
line-height: 1.5;
}
.commenttext ol {
padding:0;
list-style:none;
margin-bottom:21px;
}
.comments .avatar{
display:block;
width:150px;
height:150px;
}
.comments img{
margin:10px;
}
.commenttext h3, .commenttext p.date{
display:inline-blocK;
}
.commenttext h3{
text-transform:uppercase;
}
.commenttext p.date{
font-weight:bold;
margin-left:10px;
}
.reply {
text-align:left;
padding-top:0px;
padding-bottom:21px;
}
.reply a:link, .reply a:visited{
text-transform:uppercase;
font-size:14px;
}
/**bootstrap fix***/
code {
display: block;
white-space: normal!important;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
width:100%;
float:left;
box-shadow:none;
border:#1d0907 1px solid;
box-shadow:none;
padding:20px;
outline:none;
height:50px;
transition: all .3s;
-moz-transition: all .3s; 
-webkit-transition:all .3s; 
-o-transition: all .3s; 
margin-bottom:21px;
}
.comment-form textarea{
width:100%;
float:left;
padding:20px;
box-shadow:none; 
border:#1d0907 1px solid;
box-shadow:none;
outline:none;
height:250px;
transition: all .1s;
-moz-transition: all .1s; 
-webkit-transition:all .1s; 
-o-transition: all .1s; 
margin-bottom:21px;
}
.comment-form input:hover,
.comment-form textarea:hover {
border:#e7453a 1px solid;
}
.comment-form input:focus,
.comment-form textarea:focus {
border:#e7453a 3px solid;
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
background-color: transparent;
border: 1px solid #e7453a;
margin:21px 0;
width:100%;
border-radius: 0px;
color: #e7453a;
padding: 10px ;
text-transform: uppercase;
vertical-align: bottom;
float:left;
box-shadow:none;
box-shadow:none;
outline:none;
height:50px;
transition: all .3s;
-moz-transition: all .3s; 
-webkit-transition:all .3s; 
-o-transition: all .3s; 
}
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
background-color: #e7453a;
color:#fff;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
background-color: #e7453a;
color:#fff;
}
h4.commentsheadline, 
.blogcommentform h6, 
.blogcommentform h5, 
.blogcommentform h4, 
.blogcommentform h3, 
.blogcommentform h2, 
.blogcommentform h1 {
  font-size: 28px;
}
/***blog comments end***/

/*** pagination ***/
.paginationblog{
margin:63px auto 0 auto;
max-width:250px;
float:none;
}
.paginationblog a:link, .paginationblog a:visited{
background:#e7453a;
color:#fff;
padding:5px 15px;
float:left;
margin-right:5px;
margin-left:5px;
display:inline-block;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
font-size:18px;
}
.paginationblog a:hover{
background:#fff;
color:#e7453a;
}
.paginationblog p{
float:left;
margin:10px 10px 0 0;
color:#e7453a;
}
/****** blog pages end ******/


/******* media queries for featured image *******/

@media (min-width: 1431px) {

.postimage .post-large {
display:block;
}
.postimage .post-medium {
display:none;
}
.postimage .post-small {
display:none;
}
.onethirdimage .onethird-thumb {
display:none;
}

.postimage1 .postsecond-large {
display:block;
}
.postimage1 .postsecond-medium {
display:none;
}
.postimage1 .postsecond-small {
display:none;
}
.postimage1 .postsecond-thumb {
display:none;
}

.onethirdimage .onethird-large {
display:block;
}
.onethirdimage .onethird-medium {
display:none;
}
.onethirdimage .onethird-small {
display:none;
}
.onethirdimage .onethird-thumb {
display:none;
}

.oneforthimage .oneforth-large {
display:block;
}
.oneforthimage .oneforth-medium {
display:none;
}
.oneforthimage .oneforth-small {
display:none;
}
.oneforthimage .oneforth-thumb {
display:none;
}


}

@media (max-width: 1430px) {

.postimage .post-large {
display:none;
}
.postimage .post-medium {
display:block;
}
.postimage .post-small {
display:none;
}
.postimage .post-thumb {
display:none;
}

.postimage1 .postsecond-large {
display:block;
}
.postimage1 .postsecond-medium {
display:none;
}
.postimage1 .postsecond-small {
display:none;
}
.postimage1 .postsecond-thumb {
display:none;
}

.onethirdimage .onethird-large {
display:block;
}
.onethirdimage .onethird-medium {
display:none;
}
.onethirdimage .onethird-small {
display:none;
}
.onethirdimage .onethird-thumb {
display:none;
}

.oneforthimage .oneforth-large {
display:block;
}
.oneforthimage .oneforth-medium {
display:none;
}
.oneforthimage .oneforth-small {
display:none;
}
.oneforthimage .oneforth-thumb {
display:none;
}

}

@media (max-width: 1200px) {

.postimage .post-large {
display:none;
}
.postimage .post-medium {
display:block;
}
.postimage .post-small {
display:none;
}
.postimage .post-thumb {
display:none;
}

.postimage1 .postsecond-large {
display:none;
}
.postimage1 .postsecond-medium {
display:block;
}
.postimage1 .postsecond-small {
display:none;
}
.postimage1 .postsecond-thumb {
display:none;
}

.onethirdimage .onethird-large {
display:none;
}
.onethirdimage .onethird-medium {
display:block;
}
.onethirdimage .onethird-small {
display:none;
}
.onethirdimage .onethird-thumb {
display:none;
}

.oneforthimage .oneforth-large {
display:none;
}
.oneforthimage .oneforth-medium {
display:block;
}
.oneforthimage .oneforth-small {
display:none;
}
.oneforthimage .oneforth-thumb {
display:none;
}

}

@media (max-width: 992px) {
.postimage1 .postsecond-large {
display:block;
}
.postimage1 .postsecond-medium {
display:none;
}
.postimage1 .postsecond-small {
display:none;
}
.postimage1 .postsecond-thumb {
display:none;
}

.postimage .post-large {
display:none;
}
.postimage .post-medium {
display:none;
}
.postimage .post-small {
display:block;
}
.postimage .post-thumb {
display:none;
}

.onethirdimage .onethird-large {
display:none;
}
.onethirdimage .onethird-medium {
display:none;
}
.onethirdimage .onethird-small {
display:block;
}
.onethirdimage .onethird-thumb {
display:none;
}

.oneforthimage .oneforth-large {
display:none;
}
.oneforthimage .oneforth-medium {
display:none;
}
.oneforthimage .oneforth-small {
display:block;
}
.oneforthimage .oneforth-thumb {
display:none;
}

}

@media (max-width: 767px) {
.postimage1 .postsecond-large {
display:none;
}
.postimage1 .postsecond-medium {
display:none;
}
.postimage1 .postsecond-small {
display:block;
}
.postimage1 .postsecond-thumb {
display:none;
}

.onethirdimage .onethird-large {
display:none;
}
.onethirdimage .onethird-medium {
display:none;
}
.onethirdimage .onethird-small {
display:none;
}
.onethirdimage .onethird-thumb {
display:block;
}



}

@media (max-width: 600px) {

.postimage .post-large {
display:none;
}
.postimage .post-medium {
display:none;
}
.postimage .post-small {
display:none;
}
.postimage .post-thumb {
display:block;
}

.postimage1 .postsecond-large {
display:none;
}
.postimage1 .postsecond-medium {
display:none;
}
.postimage1 .postsecond-small {
display:none;
}
.postimage1 .postsecond-thumb {
display:block;
}

.onethirdimage .onethird-large {
display:none;
}
.onethirdimage .onethird-medium {
display:none;
}
.onethirdimage .onethird-small {
display:block;
}
.onethirdimage .onethird-thumb {
display:none;
}


.oneforthimage .oneforth-large {
display:none;
}
.oneforthimage .oneforth-medium {
display:none;
}
.oneforthimage .oneforth-small {
display:none;
}
.oneforthimage .oneforth-thumb {
display:block;
}

}
/***media queries for featured imageend***/


/********* pagebuilder *********/

@media (max-width: 767px) {

.aq_span1,
.aq_span2,
.aq_span3,
.aq_span4,
.aq_span5,
.aq_span6,
.aq_span7,
.aq_span8,
.aq_span9,
.aq_span10,
.aq_span11,
.aq_span12 {
  width: 100%!;
  min-width: 100%;
  margin: 0;
}


}

/********* pagebuilder end *********/


/*** Contact Form plugin ***/

form.wpcf7-form {
position: relative;
z-index: 999;
margin:0 auto;
float:none;
width:100%;
max-width:1200px;
}


form.wpcf7-form input{
position: relative;
z-index: 999;
width: 100%;
float:left;
height:60px;
margin-top:10px;
padding:0 20px;
border:#1d0907 1px solid;
box-shadow:none;
background:transparent;
}
form.wpcf7-form input:focus{
border:#e7453a 1px solid!important;
}
form.wpcf7-form textarea{
width: 100%;
float:right;
margin-top:10px;
padding:15px;
border:#1d0907 1px solid;
background:transparent;
box-shadow:none;
height:129px;
}
form.wpcf7-form textarea:focus{
border:#e7453a 1px solid;
}

input.wpcf7-form-control.wpcf7-submit{
margin-bottom: 20px;
background-color:transparent;
font-size:18px;
text-align:center;
width: 100%;
color:#fff;
background:#e7453a;
border:#e7453a 1px solid;
border:none;
text-transform:uppercase;
margin-top:10px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

input.wpcf7-form-control.wpcf7-submit:hover{
background:#1d0907;
}
/*** contact form end ***/


/********* testimonials *********/
.bxtestimonials,
.quotewrapper  {
  text-align:center;
  padding: 0;
  list-style: none;
}
.quotewrapper i {
  margin: 0 auto;
  padding-top: 22px;
  width: 66px;
  height: 66px;
  font-size: 27px;
  background: #fff;
  color: #e7453a;
}
.bxtestimonials p {
  max-width: 1170px;
  margin: 0 auto 12px auto;
  font-style: italic;
  font-size: 21px;
}

.section3 .bxtestimonials p {
  color: #fff;
}
@media (max-width: 767px) {
.bxtestimonials p {
  margin: 0 20px;
}
}
.bxtestimonials p span {
  color: #e7453a;
  font-size: 50px;
  font-family: arial;
}
.bxtestimonials p.cite {
  padding-bottom: 44px;
  font-style: normal;
}
.section3 .bxtestimonials p.cite {
  color: #fff;
}
.bxtestimonials p.cite span {
  font-weight: bold;
  font-size: 21px;
}
/********* testimonials end *********/


/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 22px auto ;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
	
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
    height: 85px;
	color: #666;
	padding-top: 0;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: transparent;
    border: 1px solid #e7453a;
	text-indent: -9999px;
	display: block;
	width: 22px;
	height: 22px;
	margin: 48px 5px ;
	outline: 0;
	
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
background:#e7453a;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
cursor:auto;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
opacity:0.5;
width:81px;
height:120px;
	left: 10px;

-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.bx-wrapper .bx-next {
opacity:0.5;
width:81px;
height:120px;
	right: 10px;

-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.bx-wrapper .bx-prev:hover {
	opacity:1;
}

.bx-wrapper .bx-next:hover {
	opacity:1;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;

	text-indent: -9999px;
	z-index: 0;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

@media (max-width: 767px) {

.bx-wrapper .bx-prev {
display:none;
}
.bx-wrapper .bx-next {
display:none;
}

}
/********* testimonials end*********/

/********* paypal plugin *********/

#accept_paypal_payment_form form{
background:#e7453a;
padding:40px;
margin: 22px auto;
float: none;
width: auto;
display:inline-block;
}
#accept_paypal_payment_form form{
color:#fff;
}

.wp_pp_button_selection_section, .wp_pp_button_other_amt_section, .wp_pp_button_reference_section{
margin-bottom: 10px;
}
.wp_paypal_button_widget{
margin: 10px 0;
}
.wp_accept_pp_button_form input{
width: auto!important;
border:none;
}


#accept_paypal_payment_form span strong{
  font-size: 21px;
  text-transform: uppercase;
  font-weight: normal;
color:#fff;
}
#accept_paypal_payment_form {
 margin-bottom:44px;
text-align:center;
}

#accept_paypal_payment_form input{
  margin: 0;
color:#1d0907;
}

#accept_paypal_payment_form input[type="text"],
#accept_paypal_payment_form select{
  width: 200px;
  padding: 8px;
  border: none;
color:#1d0907;
}
#accept_paypal_payment_form input[type="text"]:focus{
  padding: 8px;
}


/********* paypal plugin end *********/


/*********** events calendar plugin ****************/
.tribe-events-notices {
  color: #e7453a!important;
}
.tribe-events-calendar h4{
  color: #e7453a!important;
}
/* Tribe Theme Color */
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], 
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button,
#tribe-events .tribe-events-button,
.tribe-events-button.tribe-inactive,
#tribe-events .tribe-events-button:hover,
.tribe-events-button:hover,
.tribe-events-button.tribe-active:hover {
  background-color: #e7453a!important;
}
#tribe_events_filters_wrapper h3 span:after { 	
  border-top-color: #e7453a!important;
}

#tribe_events_filters_wrapper .tribe_events_filter_item.closed h3 span:after {
  border-left-color: #e7453a!important;
}
.single-tribe_events a.tribe-events-ical, 
.single-tribe_events a.tribe-events-ical:hover, 
.single-tribe_events a.tribe-events-gcal, 
.single-tribe_events a.tribe-events-gcal:hover {
  color: #fff!important;
}
/*********** events calendar plugin end ****************/










