// Buttons inside columns should be big
.aq-block-aq_column_block .btn-color {
  text-align: center;

  > a {
    display: block !important;
  }
}

.servicecolumnone .iconwrapper {
  border: none !important;
}

#hero {
  display:  none;
}

.sectionwrapper {
  padding-bottom: 68px;
}

@hero-padding: 40px;
@hero-height: 698px;
@hero-width: 1056px;
.parallax-sections-237  {
  .section3inner {
    background: none;
  }
  .section3inner, p, img {
    margin: 0;
    padding: 0;
  }

  .aq-block-aq_column_block.aq-first {
    position: relative;
    height: @hero-height + @hero-padding;

    & + .aq-block-aq_column_block {
      margin-top: 334px;
      max-width: 560px;
      z-index: 2;
      position: relative;
      padding: 40px 20px 0 80px;

      h2 {
        color: @main-color;
        font-size: 80px;
        margin: -22px 0 0;
        letter-spacing: -4px;
        text-align: left;
        position: relative;
        left: -5px;
      }

      p {
        font-size: 22px;
        margin: -38px 0 20px;
        color: #111;
        text-align: justify;
        line-height: 1.3;
      }
    }
  }
}

.hero-1-front-img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  height:  @hero-height;
  bottom: -1px;
  right: -431px;
  width: @hero-width;
  max-width: none;
  background-image: url('img/hero_1_front.png');
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .parallax-sections-237  {
    background: #fff !important;

    .aq-block-aq_column_block.aq-first {
      height: 1px;
      margin-bottom: 104.0284360189573%;

      & + .aq-block-aq_column_block {
        margin: 40px 0;
        padding: 0 15px;

        h2 {
          font-size: 62px;
          text-align: center;
        }

        p {
          text-align: left;
        }
      }
    }
  }
  .hero-1-front-img {
    background-image: url('img/hero_1_phone.jpg');
    width: auto;
    height: 1px;
    position: static;
    background-size: 100% 100%;
    padding-bottom: 104.0284360189573%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .parallax-sections-237  {
    .aq-block-aq_column_block.aq-first {
      height: 463px;
      & + .aq-block-aq_column_block {
        margin-top: 224px;

        h2 {
          font-size: 44px;
        }

        p {
          font-size: 17px;
          text-align: left;
          line-height: 1.2;
        }
      }
    }
  }
  .hero-1-front-img {
    background-image: url('img/hero_1_front_tablet.png');
    width: 769px;
    height: 443px;
    padding-right: 40px;
    right: -340px;
  }
}

#parallax-crowd {
  &, + .wrapper100percent .section3inner {
    display: none;
  }
}

.feature-icon {
  text-indent: -9999px;
  display: block;
  width: 162px;
  height: 162px;
  margin: 10px auto 17px;
  background-image: url(img/iconos.png);
  background-repeat: no-repeat;
  border: 3px solid #ffffff;
}

.feature-curriculum {
  background-position: 0 0;
  &:hover {
    background-position: 0 -162px;
  }
}

.feature-trayectoria {
  background-position: -324px 0;
  &:hover {
    background-position: -324px -162px;
  }
}

.feature-ponencias {
  background-position: -162px 0;
  &:hover {
    background-position: -162px -162px;
  }
}
.quotewrapper {
  .bx-controls.bx-has-pager { display: none }
}

// Propuestas thumbs
#aq-template-wrapper-461 {
  a {
    text-transform: none;
  }

  h4 {
    margin-top: -15px;
    margin-bottom: 25px;
    line-height: 1.1;
  }
}

.propuesta-thumb-img {
  display: block;
  height: 200px;
}