.job-icon {
  background-image: url(img/job-icon-sprite.png);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
}

.job-icon-asesor {
  width: 55px;
  height: 55px;
  background-position: 0 0;
}

.job-icon-busqueda {
  width: 55px;
  height: 55px;
  background-position: -55px 0;
}

.job-icon-candidato {
  width: 55px;
  height: 55px;
  background-position: -110px 0;
}

.job-icon-diplomado {
  width: 55px;
  height: 55px;
  background-position: 0 -55px;
}

.job-icon-escribir {
  width: 55px;
  height: 55px;
  background-position: -55px -55px;
}

.job-icon-experiencia {
  width: 55px;
  height: 55px;
  background-position: -110px -55px;
}

.job-icon-hat {
  width: 55px;
  height: 55px;
  background-position: 0 -110px;
}

.job-icon-integrante {
  width: 55px;
  height: 55px;
  background-position: -55px -110px;
}

.job-icon-petroleo {
  width: 55px;
  height: 55px;
  background-position: -110px -110px;
}

.job-icon-ponente {
  width: 55px;
  height: 55px;
  background-position: -165px 0;
}